@{
    ViewData["Title"] = "Saludo múltiple desde la vista";
}

<h2>Saludo Múltiple</h2>

<p>Muchos, pero muchos saludos... !</p>

@{
    String[] emo = { "😄", "🤭", "😋", "🤩", "😮" }; 
};
@for (var i = 0; i < emo.Length; i++)
{
    <li>Hola @emo[i]</li>
}